-@_current_layout ||= 'application'
!!! html5
%html
  %head
    %title 
      = @title || "%%%APP_NAME%%%"
    %link{:rel => "icon", :type => "image/png", :href => asset_path("favicon.png")}      
    =stylesheet_link_tag "application"
    =javascript_include_tag "application"
    =csrf_meta_tags
    :erb
      <script type='text/javascript'>
        <% unless session[:timezone_offset] %>
          $.ajax({
            url: '/timezone',
            type: 'GET',
            data: { offset: (new Date()).getTimezoneOffset() }
          });
        <% end %>    
      </script>
    =yield :head    
    %link{:href => "#{request.protocol}fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700", :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => "#{request.protocol}fonts.googleapis.com/css?family=Passion+One:400,700,900", :rel => "stylesheet", :type => "text/css"}
  -if @_current_layout
    -layout_str = " layout-#{@_current_layout}"
  -else
    -layout_str = ""
  %body{:class => "#{params[:controller].gsub('/', ' ')} #{params[:action]}#{layout_str}#{((' ' + @_body_classes if @_body_classes) || '')}"}
    #header
      .inner
        =link_to nil, :href => root_path, :id => 'logo' do
          ="%%%APP_NAME%%%"
        -if user_signed_in?
          =link_to "Sign Out", destroy_user_session_path, :method => :delete,
          :class => 'auth-button btn heavy-rect action'        
        -else
          =link_to "Sign In", new_user_session_path, :class => 'auth-button btn heavy-rect action'
    #wrapper
      #content
        -if @_current_layout != 'dashboard'
          =render_alerts
        =yield :content
    #footer
      footer content